.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  text-transform: none;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie-consent button {
  margin-left: 10px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  background: none;
  border: 1px solid #000;
}

.cookie-consent button:hover {
  color: #bebebe;
  border-color: #bebebe;
}
