.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-transform: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.footer.hidden {
  transform: translateY(100%);
}

.footer.visible {
  transform: translateY(0);
}

.footerContent p {
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 10px 0;
}

.footerLinks {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footerLinks li {
  margin: 0 10px;
}

.footerLinks a {
  color: #fff;
  font-size: 40px;
  transition: fill 0.3s ease;
  display: inline-block;
}

.footerLinks a svg {
  fill: #fff;
  transition: fill 0.3s ease;
}

.footerLinks a.instagram:hover svg {
  animation: instagram-gradient-animation 1.5s infinite;
}

.footerLinks a.telegram:hover svg {
  animation: telegram-gradient-animation 1.5s infinite;
}

@keyframes instagram-gradient-animation {
  0% {
    fill: #b13589;
  }
  25% {
    fill: #c62f94;
  }
  50% {
    fill: #8a3ac8;
  }
  75% {
    fill: #e0e8b7;
  }
  100% {
    fill: #fb8a2e;
  }
}

@keyframes telegram-gradient-animation {
  0% {
    fill: #37bbfe;
  }
  25% {
    fill: #4ab9e6;
  }
  50% {
    fill: #66aee0;
  }
  75% {
    fill: #006b8e;
  }
  100% {
    fill: #007dbb;
  }
}

.footerLinks a svg {
  font-size: 30px;
}
